<br><br><br><br>
<div class="container new-comment message-show col-md-6 col-md-offset-3">
  <h2>New Comment for: </h2>
  <h4>Topic: <%= @message.title %></h4>
  <h4>Body: <%= @message.description %></h4>
  <%= render 'form' %>
  <%= link_to 'Back', @message, class: 'btn btn-md' %>
</div>
